// Colores para el tema oscuro
$dark-primary-color: #1e2129;
$dark-secondary-color: #2a2e38;
$dark-accent-color: #e74c3c;
$dark-text-color: #ffffff;
$dark-background-color: #191c24;

// Variables globales de color
$primary-color: $dark-primary-color;
$secondary-color: $dark-secondary-color;
$accent-color: $dark-accent-color;
$text-color: $dark-text-color;
$background-color: $dark-background-color;